*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}






.header__superior{
    max-width: 1330px;
    margin: auto;
    display: flex;
    align-items: center;
        justify-content: space-between;
padding: 5.0px;
}

.logo img{
    width: 100px;
    border-radius: 80px;
     display: flex;
    position: absolute;
}

.search input{
    width: 200px;
    padding: 10px;
   display: flex;
}








.container{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 3px solid whitesmoke;
}
body{
	  min-height: 84vh;
   /*background-image: url("https://images2.alphacoders.com/131/1316811.jpg");
    background-repeat: no-repeat;
    background-position: 50px 25px;
    background-position: 20% 10%;
    background-position: left top;
    background-position: left center;
    background-position: center center;
    height: 1800px;
    background-attachment: fixed;*/

background:linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12 ,0.75)), url("https://static.vecteezy.com/system/resources/previews/002/217/896/non_2x/cinema-wallpaper-social-media-message-background-vector.jpg") no-repeat center center fixed;
    background-size: cover;
    
    
}


.wrap{
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

.wrap > h1{
	color: #EEE;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
    font-family: cursive;
}

.wrap > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: #C7C7C7;
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: #E84C3D;
	text-align: center;
	text-decoration: none;
	color: #eee;
    font-family: cursive;
}




.category_list .ct_item-active{
	background: #2D3E50;
}

/* PRODUCTOS ============*/

.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
}


.products-list .product-item{
	width: 22%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}

.products-list .product-item img{
	width: 100%;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #2D3E50;

	color: #fff;
	text-align: center;
	text-decoration: none;
}

/* RESPONSIVE */

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}