

body{
    background-color: black;
    padding: 0px;
    
    min-height: 84vh;
   /*background-image: url("https://images2.alphacoders.com/131/1316811.jpg");
    background-repeat: no-repeat;
    background-position: 50px 25px;
    background-position: 20% 10%;
    background-position: left top;
    background-position: left center;
    background-position: center center;
    height: 1800px;
    background-attachment: fixed;*/

background:linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12 ,0.75)), url("https://wallpapercg.com/download/the-marvels-4k-movie-wallpaper--16051.jpeg") no-repeat center center fixed;
    background-size: cover;
    
}



img{
  
   height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    
}
